form {
    width: 50%;
}

.error {
    color: red;
}

.clear[type='button'] {
    color: rgb(167, 1, 1);
}

#deleteBtn {
    margin-left: 50px;
}

.clear[type='button']:hover {
    color: aliceblue;
    background-color: rgb(92, 9, 9);
}